body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to bottom right, #FFD3E0, #FFC3D9, #FFB2D1, #FFA1CA);

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    background-color: white;
    min-height: 400px;
    width: 540px;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
}


h1 {
    text-align: center;
    color: #333;
}

input[type="text"] {
    font-size: medium;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 80%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    box-sizing: border-box; 
}


button {
    padding: 10px 20px;
    background-color: #8a5f58; 
    border: none;
    border-radius: 15px; 
    color: rgb(255, 255, 255);
    font-weight: 500;
    cursor: pointer;

    &:hover {
        background-color: #af7b73; 
    }
}



ul {
    list-style-type: none;
    padding: 0;
}


li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #c82333; 
}


